.plan-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-width: 200px;
    max-width: 50px;
    height: 260px;
    background-color: var(--primary-color);
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: grab;
}

.plan-card-container:hover {
    box-shadow: rgba(78, 77, 77, 0.2) 0px 2px 15px 0px;
}

.plan-card-overlay {
    width: 100%;
    min-height: 100px;
    height: 120px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.plan-card-title {
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
}

.plan-card-info {
    padding: 1rem;
    width: 100%;
    gap: 2px;
    display: flex;
    flex-direction: column;
}

.item-info-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.card-info-check {
    color: var(--secondary-color);
}

.card-info-check {
    font-size: 12px;
}

.card-info-item {
    font-size: 14px;
}

@media screen and (min-width: 480px) {
    .plan-card-container {
        min-width: 230px;
        max-width: 250px;
    }

    .plan-card-title,
    .card-info-item {
        font-size: 14px;
    }
}

@media screen and (min-width: 600px) {
    .plan-card-container {
        min-width: 110%;
    }
}

@media screen and (min-width: 768px) {
    .plan-card-title,
    .card-info-item {
        font-size: 16px;
    }
}

@media screen and (min-width: 1024px) {
    .plan-card-container {
        min-width: 100%;
    }

    .plan-card-title,
    .card-info-item {
        font-size: 16px;
    }
}