.about-container {
    width: 100vw;
    margin-top: 14vh;
}

.about-title {
    font-size: 18px;
    margin-left: 2%;
}

.article-media {
    width: 100%;
    height: 250px;
    object-fit: cover;
    margin: 1rem 0;
}

.article-title {
    font-weight: 800;
    font-size: 16px;
    white-space: nowrap;
    margin: 0 2%;
    color: var(--secondary-color);
}

.article-text {
    font-size: 14px;
    text-align: justify;
    margin: 1rem 2%;
}

.article-text:last-of-type {
    margin-bottom: 2rem;
}

@media screen and (min-width: 480px) {
    .about-title {
        font-size: 22px;
    }

    .article-media {
        height: 300px;
    }

    .article-title {
        font-size: 20px;
    }

    .article-text {
        font-size: 16px;
    }
}

@media screen and (min-width: 768px) {
    .about-container {
        margin: 14vh auto 2rem;
        gap: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-title {
        font-size: 32px;
    }

    .about-content {
        display: flex;
        align-items: center;
        gap: 20px;
        margin: 0 2%;
    }

    .about-content:nth-child(2){
        flex-direction: row-reverse;
    }

    .article-media {
        width: 60%;
        height: 250px;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
        border-radius: 10px;
    }

    .article-align-text {
        width: 40%;
    }

    .article-title {
        white-space: pre-wrap;
    }
}

@media screen and (min-width: 1024px) {
    .about-container {
        max-width: 1024px;
        margin: 15vh auto 5rem;
    }

    .about-title {
        font-size: 36px;
    }

    .article-media,
    .article-align-text {
        width: 50%;
    }

    .article-title {
        font-size: 26px;
    }

    .article-text {
        font-size: 18px;
    }
}

@media screen and (min-width: 1280px) {
    .article-title {
        font-size: 26px;
    }

    .article-text {
        font-size: 18px;
    }
}