.cart-purchase-confirm {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* form register  */
.cart-form-register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 85%;
}

.align-form-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-input-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-input-content input {
  width: 270px;
  height: 30px;
  background-color: var(--purchase-secondary-background);
  color: var(--primary-color);
  padding-left: 5px;
  outline: none;
  border: none;
  border-bottom: 1px solid #c3c3c3;
}

.form-input-label {
  color: var(--primary-color);
  opacity: 0.8;
  font-size: 12px;
  letter-spacing: 1px;
}

#input-cep-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

#cep-input {
  width: 90px;
}

#search-cep {
  cursor: pointer;
  color: var(--primary-color);
}

#adress-content {
  margin-top: 2rem;
}

.search-cep-status {
  position: absolute;
  color: rgb(242, 8, 8);
  margin-bottom: -4rem;
  font-size: 12px;
  user-select: none;
}

.form-actions-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#form-action-btn {
  background-color: var(--third-color);
}

/* Header of purchase confirm component */
.cart-header-step-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 5px;
}

.step-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.step-content svg,
.step-content p {
  color: var(--primary-color);
}

.step-content svg {
  font-size: 18px;
  color: var(--secondary-color);
  background-color: #fff;
  border-radius: 50px;
}

.step-content p {
  font-size: 12px;
  margin-left: 4px;
}

.step-number-icon {
  background-color: #111;
  width: 18px;
  height: 18px;
  border-radius: 100px;
  color: #fff;
  font-size: 11px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}