.home-container {
  margin-top: 14vh;
}

.menu-container {
  display: flex;
  align-items: flex-start;
  overflow: hidden;  
  gap: 1rem;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  user-select: none;
}

.section-nav-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  user-select: none;
  padding: 0 2%;
}

.section-nav-title {
  color: var(--font-color);
  font-size: 18px;
  font-weight: 600;
}

.section-nav-link {
  color: var(--secondary-color);
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .menu-container:last-child {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .menu-container:first-of-type {
    margin: 0 2%;
  }

}

@media screen and (min-width: 1024px) {
  .section-nav-title {
    font-size: 20px;
  }
}

@media screen and (min-width: 1366px) {
  .home-container {
    max-width: 1366px;
    margin: 15vh auto 5rem;
  }

  .section-nav-title {
    font-size: 24px;
  }

  .menu-container {
    max-width: 1366px;
    margin: 0 auto;
  }

  .menu-container:last-child {
    margin-top: 1rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .section-nav-container {
    margin-top: 2rem;
  }

  .section-nav-container:nth-child(1) {
    margin-top: 0rem;
  }
}

