.container_cart_left {
  position: absolute;
  transition: left 1s ease;
  top: -100%;
}
.container_cart {
  width: 100%;
  transition: left 1s ease;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  padding: 5px;
  margin: 0px;
  padding-bottom: 30px;
  min-width: 340px;
  box-sizing: border-box;
}
.container_confirm_right {
  position: absolute;
  top: -100vh;
  width: 100%;
}

.table {
  width: 100%;
  margin: 0 auto;
}
.table_cart tr {
  text-align: center;
}
.table_cart th {
  font-size: 1rem;
}
.table_cart {
  width: 95%;
}
.info_cart {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.info_cart span {
  margin: 10px 60px;
  font-family: Raleway;
  font-size: 1rem;
  font-weight: bold;
}

@media only screen and (min-width: 600px) {
  .table {
    width: 90%;
  }
  .info_cart {
    text-align: right;
    flex-direction: row;
    justify-content: flex-end;
  }
  .table_cart th {
    font-size: 1.2rem;
  }
  .info_cart span {
    font-size: 1.1rem;
  }
}
