.compra_cantidad {
  width: 50px;
  padding: 5px;
  border: 1px solid var(--second-color);
  margin: 0px 0px;
}
.cart_item td {
  font-size: 0.8rem;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid var(--second-color);
}
@media only screen and (min-width: 600px) {
  .cart_item td {
    font-size: 1.1rem;
  }
  .compra_cantidad {
    width: 60px;
    padding: 5px;
    border: 1px solid var(--second-color);
    margin: 5px 0;
  }
}
