.div_admin_product {
  margin: 71px 20px;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  padding: 10px;
  width: fit-content;
}
.figure_product {
  width: 240px;
  height: 280px;
  background-color: black;
  margin: 0px auto;
  padding: 0px;
}

.figure_product img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid var(--second-color);
}
.form_product {
  margin-top: 10px;
}
.form_product label {
  margin: 10px 0px;
}
.form_product input {
  margin: 10px 0px;
  height: 35px;
  font-size: 16px;
  border-radius: 5px;
  outline: none;
  border: 1px solid var(--second-color);
}

.form_product input[type="file"] {
  display: inline-block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  font-weight: 800;
  font-size: 10pt;
}
.form_product input::file-selector-button {
  height: 35px;
  font-weight: bold;
  color: black;
  background-color: var(--second-color);
  border: 1px solid var(--second-color);
  border-radius: 5px 0px 5px 0px;
}
.form_product input::file-selector-button:hover {
  border-color: #646cff;
  opacity: 0.8;
  color: white;
}
