.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-color);
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}
.logo {
  width: 40px;
  height: 40px;
  margin-bottom: -7px;
  padding: 0px;
  border-radius: 50%;
}
.title {
  font-size: 1.8rem;
  margin: 0.5rem;
}
.link ul {
  margin: 2px;
  padding: 0;
  display: flex;
}
.link li {
  list-style: none;
}
.link li a,
.logout {
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
  font-size: 1.2rem;
  cursor: pointer;
}
.logout {
  border: none;
  background: none;
}
.logout:hover {
  background-color: var(--second-color);
}
.link li:hover {
  background-color: var(--second-color);
}
.toggle_button {
  position: absolute;
  top: 1.2rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  cursor: pointer;
}
.toggle_button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}
.active {
  border-bottom: 2px solid white;
}
.cart_quantity {
  font-size: 0.7rem;
  font-weight: bold;
  border: 1px solid white;
  padding: 4px 6px;
  border-radius: 50%;
  position: absolute;
  z-index: 10;
  top: -15px;
  right: -8px;
  background-color: blue;
}
@media (max-width: 460px) {
  .toggle_button {
    display: flex;
  }
  .link {
    display: none;
    width: 100%;
    position: absolute;
    z-index: 100;
    background-color: #333;
    margin-top: 52.5px;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar ul {
    width: 100%;
    flex-direction: column;
  }
  .navbar li {
    text-align: center;
  }
  .navbar li a {
    padding: 0.5rem 1rem;
  }
  .link.link_active {
    display: flex;
  }
}
