.card {
  background-color: rgba(0, 0, 0, 0.495);
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 10px;
  box-shadow: 0 0 1rem var(--second-color);
  border-radius: 10px;
  height: 510px;
  position: relative;
}
.imagen_product {
  width: 240px;
  height: 280px;
  margin: 0px;
  padding: 0px;
}
.imagen_product img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.texto_card p {
  margin: 5px 0px;
  padding: 10px;
  width: 240px;
}
p.title_card {
  margin: 10px 0;
  width: 240px;
  height: 54px;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
}

.price {
  font-family: Raleway;
  font-size: 1.1rem;
}
.div_button {
  text-align: center;
  position: absolute;
  bottom: 10px;
  width: 100%;
}
