.admin-product-list-container,
.products-action-bar-container {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  padding: 1rem;
  border-radius: 5px;
  width: 90vw;
  margin: 0 auto;
  margin-left: 6vw;
  margin-top: 12vh;
}

.admin-product-list-container {
  height: 75vh;
  margin-top: 2rem;
  overflow-y: scroll;
}

.admin-list-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  background-color: var(--primary-color);
}

.admin-list-content {
  height: 65vh;
  overflow-x: scroll;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* action bar products  */
.products-action-bar-container {
  display: flex;
  justify-content: space-between;
}

.products-search-content {
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.add-product-btn {
}

/* product list item  */
.table-product-content {
  width: 98%; /* La tabla ocupa el 90% del ancho del elemento padre */
  border-collapse: collapse;
  margin: 10px auto;
  font-size: 12px;
  overflow-x: scroll;
  overflow-y: scroll;
  height: 65vh;
}

.table-product-content th,
td {
  height: 40px;
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}
.table-product-content th {
  font-size: 14px;
  text-transform: uppercase;
}
