:root {
  --second-color: #de239d;
  --main-color: #333;
  --primary_color: #000;
  --third_color: rgba(51, 51, 51);
  --third_color_modal: rgba(51, 51, 51, 0.8);
}

body {
  background: -webkit-linear-gradient(top, rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.7)),
    url("./imagenes/background.jpg");
  background: -o-linear-gradient(top, rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.7)),
    url("./imagenes/background.jpg");
  background: -moz-linear-gradient(top, rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.7)),
    url("./imagenes/background.jpg");
  background: linear-gradient(top, rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.7)),
    url("./imagenes/background.jpg");
  height: 100vh;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  background-size: cover;
  color: #ffffff;
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
