@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root {
  --primary-color: #fff;
  --secondary-color: #10aa10;
  --secondary-hover-color: #0c710c;
  --third-color: #2d7aee;
  --purchase-background: #f5f7f6;
  --purchase-secondary-background: #53565f;
  --font-color: #333333;
  --font-sec-color: #7e7e7e;
  --overlay-background: #33333350;
  
  --second-color: #de239d;
  --main-color: #333;
  --primary_color: #000;
  --third_color: rgba(51, 51, 51);
  --third_color_modal: rgba(51, 51, 51, 0.8);
}

body {
  height: 100vh;
  width: 100vw;
  font-family: 'Inter', sans-serif;
  color: var(--font-color);
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container_principal {
  width: 95%;
  padding: 0px;
  margin: 20px auto;
  margin-top: 81px;
  box-sizing: border-box;
}

.del_button {
  cursor: pointer;
  border: 1px solid var(--second-color);
  width: 30px;
  height: 30px;
  background-color: red;
  padding: 0;
  margin: 0px;
  border-radius: 5px;
  font-size: 0.8rem;
}

.del_button>*,
.edit_button>*,
.see_button>* {
  padding: 0;
  margin: 0;
}

.del_button:hover,
.edit_button:hover,
.see_button:hover {
  border-color: #646cff;
  opacity: 0.8;
  color: white;
}

.edit_button {
  cursor: pointer;
  border: 1px solid var(--second-color);
  width: 30px;
  height: 30px;
  background-color: blue;
  padding: 0;
  margin: 10px;
  border-radius: 5px;
  font-size: 1.2rem;
}

.see_button {
  cursor: pointer;
  border: 1px solid var(--second-color);
  width: 30px;
  height: 30px;
  background-color: green;
  padding: 0;
  margin: 10px;
  border-radius: 5px;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
  border-bottom: 2px solid var(--primary-color);
  transition: 100ms;
}

@media only screen and (min-width: 600px) {
  .del_button {
    font-size: 1.2rem;
    margin: 10px;
  }

  .title_principal {
    font-size: 2.3rem;
  }
}
