@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;1,400;1,500;1,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,700");

:root {
  --second-color: #de239d;
  --main-color: #333;
  --primary_color: #000;
  --third_color: rgba(51, 51, 51);
  --third_color_modal: rgba(51, 51, 51, 0.8);
}

body {
  background: -webkit-linear-gradient(top, rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.7)),
    url("./imagenes/background.jpg");
  background: -o-linear-gradient(top, rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.7)),
    url("./imagenes/background.jpg");
  background: -moz-linear-gradient(top, rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.7)),
    url("./imagenes/background.jpg");
  background: linear-gradient(top, rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.7)),
    url("./imagenes/background.jpg");
  height: 100vh;
  width: 100vw;

  min-height: 100vh;
  min-width: 100vw;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  background-size: cover;
  color: #ffffff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*,
::before,
::after {
  box-sizing: inherit;
}
.container_principal {
  width: 95%;
  padding: 0px;
  margin: 20px auto;
  margin-top: 81px;
  box-sizing: border-box;
}
.title_principal {
  font-family: "EB Garamond", serif;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  font-style: italic;
  margin: 10px;
  margin-bottom: 20px;
}
.title_principal p {
  display: inline;
  border-bottom: 2px solid var(--second-color);
}
.button_principal {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--second-color);
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 10px;
  font-weight: bold;
  width: fit-content;
}
.button_principal:hover {
  border-color: #646cff;
  opacity: 0.8;
  color: white;
}
.del_button {
  cursor: pointer;
  border: 1px solid var(--second-color);
  width: 30px;
  height: 30px;
  background-color: red;
  padding: 0;
  margin: 0px;
  border-radius: 5px;
  font-size: 0.8rem;
}
.del_button > *,
.edit_button > *,
.see_button > * {
  padding: 0;
  margin: 0;
}
.del_button:hover,
.edit_button:hover,
.see_button:hover {
  border-color: #646cff;
  opacity: 0.8;
  color: white;
}
.edit_button {
  cursor: pointer;
  border: 1px solid var(--second-color);
  width: 30px;
  height: 30px;
  background-color: blue;
  padding: 0;
  margin: 10px;
  border-radius: 5px;
  font-size: 1.2rem;
}
.see_button {
  cursor: pointer;
  border: 1px solid var(--second-color);
  width: 30px;
  height: 30px;
  background-color: green;
  padding: 0;
  margin: 10px;
  border-radius: 5px;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
input[type="text"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,input[type="email"]:focus {
  box-shadow: 0px 0px 2rem var(--second-color);
  transition: 0.5s;
}

@media only screen and (min-width: 600px) {
  .del_button {
    font-size: 1.2rem;
    margin: 10px;
  }
  .title_principal {
    font-size: 2.3rem;
  }
}
